---
- name: Set the hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Replace double home with hostname (if present)
  ansible.builtin.replace:
    path: /etc/hosts
    regexp: 127\.0\.1\.1
    replace: "{{ ansible_host }} {{ inventory_hostname }}"
  vars:
    ansible_remote_tmp: /tmp # Prevent warnings for auto-created tmp dir

# Andre fix 2026: if from a VM-clone, inventory_hostname will be different,
# so the regexp should focus on the IP-address
- name: Ensure at least one full hostname entry is present
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: "^{{ ansible_host }}"
    line: "{{ ansible_host }} {{ inventory_hostname }}"
    state: present
  vars:
    ansible_remote_tmp: /tmp # Prevent warnings for auto-created tmp dir
  when: "'activedirectory' not in group_names"
